<!DOCTYPE html>
<html>
  <head>
    <title>M-Partner</title>
    {% include 'bootstap.html' %}
  </head>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
    <h1 class="text-center mt-2 mb-4"><strong>M-Partner</strong> Management</h1>
      <style>
        h1 strong {
          color:  rgb(51, 102, 255);
        .btn-my {
          background-color: rgb(51, 102, 255) !important;
        }
      </style>
    <div id='container'>
      <div class='row' style="margin-bottom:16px">
        <div class='col-7'>
    <p class="lead maininfo">A platform for your partners administration and collaboration within different organizations.</p>
<a href="/new" class=" mt-4 btn-my btn btn-primary btn-lg">Create Partner</a>
        </div>
        <div class='col-4'>
        <img src="/static/ipad.jpg" style="height:270px; border-radius:4px" >
        </div>
      </div>
      
    <h2 class="text-center mt-5 mb-4">My partners</h2>
      <div>
       {%for partners in partners %}
      {% include 'partner_info.html' %}
       {% endfor %}
      </div> 
    <h2 class="text-center mt-5 mb-4">Organizations</h2>
      <div>
         {% for organizations in organizations %}
        {% include 'organization_info.html' %}
        {% endfor %}
        </div>
      </div>
    <div style='text-align:center'>
        <button class=" mt-4 btn-my btn btn-primary btn-lg">Contact Us</button>
    </div>
      {% include "footer.html" %}
  </body>
</html>



