<h4>Partner Form</h4>
<form action="/new/create" method="post">
  <div class='mb-2'>
  <label>Full Name</label><br>
  <input type="text" name="full_name" placeholder="Ivanov Ivan Ivanovich">
  </div>

  <div class='mb-2'>
  <label>Phone</label><br>
  <input type="" name="phone" placeholder="+7(012)345-67-89">
  </div>

  
  <div class='mb-2'>
  <label>Email</label><br>
  <input type="text" name="email" placeholder='ivan@ivanov.com'>
  </div>

   <div class='mb-2'>
  <label>Trade Code</label><br>
  <input type="text" name="org_name" placeholder='1234'>
     <a type="button" class="btn btn-link">Add</a> 
  </div>


  <div class='mb-2'>
  <label>City</label><br>
  <input type="text" name="trade_code" placeholder='Saint Petersburg'>
  </div>

  
  <input type='submit'>
</form>

